.header {
    &__logo {
        &--img {
            flex: 1;
            max-width: 8vw;
        }
    }

    &__filter {
        flex: 4;

        &--holder {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            justify-items: center;
            height: 100%;
        }

        &--general {
            &--holder {
                width: 100%;
            }
        }

        &--list {
            list-style: none;
            width: 100%;
            display: flex;
        }

        &--text {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            z-index: 1;
            width: 90%;
        }

        &--search-link {
            grid-row: 1 / 2;
            grid-column: 6 / 7;
            display: flex;
            justify-content: right;
            align-items: center;
        }

        &--label {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            z-index: 0;
            position: relative;
        }

        &--icon {
            fill: var(--color-grey-dark-3);
            z-index: 2;
            position: relative;
            height: 2rem;
            width: 2rem;
        }
    }

    &__title {
        flex: 1;
        display: grid;
        grid-template-rows: 1fr 2rem;
        align-items: end;
        justify-items: center;

        &--icon {
            fill: var(--color-grey-dark-1);
            max-width: 10vw;
        }
    }
}