$shadows: (mid: (offset-x: 0, offset-y:2rem, blur-radius:5rem, color: rgba(0, 0, 0, 0.18)),
    dark:(offset-x: 0, offset-y:2rem, blur-radius:6rem, color: rgba(0, 0, 0, 0.3)),
    light:(offset-x: 0, offset-y:2rem, blur-radius:5rem, color: rgba(0, 0, 0, 0.1)));