//============
// Grid
//============
@use "sass:math";

/*listing*/
$grid-holder: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
.ppg-ufrgs-wp {
  &__rdo {
    display: none;

    &:checked + .ppg-ufrgs-wp__listing__item__label {
      transform: translateY(-0.45rem);
      box-shadow: var(--shadow--base);
      border: 3px solid var(--color--secondary--dark);
    }

    &:checked + .ppg-ufrgs-wp__listing__item__label:hover {
      transform: translateY(-0.5rem);
      box-shadow: var(--shadow--dark);
    }
  }

  &__label {
    height: auto;
    width: 100%;

    background-color: var(--color--light-grey--light);
    border-radius: 5px;
    box-shadow: var(--shadow--light);

    &:hover {
      cursor: pointer;
      transform: translateY(-0.5rem);
      box-shadow: var(--shadow--mid);
    }
  }

  &__content {
    padding: 1rem;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "name name name cod badge badge badge"
      "name name name name name name name"
      "description description description description description description description";
    justify-items: stretch;
    align-items: start;
    grid-template-rows: min-content;

    &--code {
      grid-template-areas:
        "cod cod cod cod badge badge badge"
        "name name name name name name name"
        "description description description description description description description";
    }
  }

  &__badge {
    color: var(--color--light-grey--light);
    border-radius: 5px;
    text-align: center;
    padding: 0.4rem 0.5rem;
    display: inline-block;
    grid-area: badge;

    &--blue {
      background-color: var(--color--info--dark);
    }

    &--red {
      background-color: var(--color--danger--dark);
    }

    &--teal {
      background-color: var(--color--cteal--dark);
    }

    &--gold {
      background-color: var(--color--warning--dark);
    }

    &--green {
      background-color: var(--color--success--dark);
    }

    &--orange {
      background-color: var(--color--accent--dark);
    }

    &--grey {
      background-color: var(--color--dark--grey);
    }
  }

  &__listing-item {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    @each $line in $grid-holder {
      @each $col in $grid-holder {
        &--#{$line}--#{$col} {
          grid-area: items--#{$line}--#{$col};
        }
      }
    }
  }

  &__description {
    grid-area: description;
    align-self: end;
    background-color: var(--color--light-grey);
    padding: 0.2rem;
    border-radius: 3px;

    &__bold {
      font-weight: bold;
      color: var(--color--text-dark);

      &--label {
        color: var(--color--teal);
      }
    }

    &__span {
      &--between {
        display: inline-flex;
        justify-content: space-between;
      }

      &--prop {
        color: var(--color--text);
      }
    }

    &__link {
      color: var(--color--accent-light);
      text-decoration: none;
    }

    &__paragraph {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  &__code {
    grid-area: code;
  }

  &__name {
    grid-area: name;
    align-self: start;
    margin: 0.5rem;
  }
}
