//============
// Typography
//============
.heading-secondary {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--color--secondary);
}

.header-label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color--info--dark);
    text-transform: uppercase;
}