//============
// Typography
//============
.header-label {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color--info--dark);
    text-transform: uppercase;
}

.ppg-ufrgs-wp__heading {
    color: var(--color--secondary--light);

    &--secondary {
        text-transform: uppercase;
        font-size: 1.8rem;
        color: var(--color--heading--light);
    }

    &--tertiary {
        font-size: 1.3rem;
    }

    &--quaternary {
        font-size: 1rem;
    }


}